<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>

    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar.html' %}
            <div class="container p-2">
                <h2>Cargar ejemplares al combo</h2>
                <form action="cargarEjemplaresAlCombo" method="POST">
                    <div class="form-group">
                        <label for="nombreCombo">Nombre del combo</label>
                        <input readonly value="{{data['nombreCombo']}}" type="text" class="form-control" name="nombreCombo" id="nombreCombo" placeholder="Nombre del combo">
                    </div>
                    <div class="form-group">
                        <label for="idCombo">Id del combo</label>
                        <input readonly value="{{data['idCombo']}}" type="text" class="form-control" name="idCombo" id="idCombo" placeholder="Id del combo">
                    </div>
                    <div class="form-group">
                        <label for="total">Precio total</label>
                        <input readonly value="{{data['total']}}" type="text" class="form-control" name="total" id="total" placeholder="Total">
                    </div>
                    <div class="form-group">
                        <label for="idProducto">Id del producto</label>
                        <input readonly value="{{data['producto']}}" type="text" class="form-control" name="idProducto" id="idProducto" placeholder="Id del producto">
                    </div>
                    <div class="form-group">
                        <label for="nuevoEjemplar">Agregar ejemplar</label>
                        <select name="ejemplar" class="custom-select">
                            {% for e in data['ejemplares'] %}  
                                {% if e[1] == false %}  
                                    <option value="{{e[0]}}">{{e[0]}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a class="btn btn-danger" href="/" role="button">Cancelar</a>
                </form>
            </div>
            {% include 'footer/footer.html' %}
        </div>
    </div>

</body>

</html>