<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">App Taller 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>||</li>
            <!--ROL-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Rol ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaRol') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaRol') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarRol') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarRol') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/ROL-->
            <!--USUARIO-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuario ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaUsuario') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaUsuario') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarUsuario') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarUsuario') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/USUARIO-->
            <!--TIPO PRODUCTO-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tipo de Producto ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaTipoProducto') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaTipoProducto') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarTipoProducto') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarTipoProducto') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/TIPO PRODUCTO-->
            <!--MARCA-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Marca ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaMarca') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaMarca') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarMarca') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarMarca') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/MARCA-->
            <!--PRODUCTO-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Producto ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaProducto') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaProducto') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarProducto') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarProducto') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/PRODUCTO-->
            <!--EJEMPLAR-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ejemplar ABMC
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('altaEjemplar') }}">Alta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('bajaEjemplar') }}">Baja</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('modificarEjemplar') }}">Modificaión</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('listarEjemplar') }}">Consulta(Lista)</a>
                </div>
            </li>
            <!--/EJEMPLAR-->
        </ul>
    </div>
</nav>