<style>
    #btnIngresar .btn-danger {
        background-color: white;
        border-color: white;
        color: black;
        float: right;
        position: absolute;
        right: 0;
        margin-right: 15px;
    }
    
    .navbar-text {
        height: 50px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-dark p-1">
    <span class="navbar-text">
        <a id="btnIngresar" href="{{ url_for('iniciarSesion') }}"><button class="btn btn-danger">Ingresar</button></a>
    </span>
</nav>
{% include 'sesion/sesion.html' %}