<style>
    .menuUsuario ul {
		display: flex;
		padding-top: 10px;
		padding-left: 0;
		margin: 0;
		list-style: none;
		float: right;
	}
	.menuUsuario a {
		display: block;
		padding: 10px;
		padding-right: 40px;
		background-color: transparent;
		text-decoration: none;
		color: black;
		font-size: 18px;
		text-align: right;
		width: 130px;
	}
	.menuUsuario a:hover {
		background-color: transparent;
		color: #18BC9C;
	}
	.menuUsuario ul li ul {
		display: none;
	}
	.menuUsuario ul li a:hover + ul, .menuUsuario ul li ul:hover {
		display: block;
	}
</style>
		<nav class="menuUsuario">
			<ul>
				<li><a href="#"><i style="font-size: 30px;" class='fas fa-user'></i></a>
					<ul>
						<li><a href="miCuenta">Mi cuenta</a></li>
						<li><a href="salir">Salir</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<a href="#"><i style="font-size: 30px;" class='fa fa-shopping-cart'></i></a>
			</ul>
		</nav>
{% include 'sesion/sesion.html' %}