<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<style>
    .titulo{
        font-family: Verdana,sans-serif;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .cuerpo{
        margin-left: 30px;
    }
    .item{
        margin-bottom: 30px;
    }
    .redes{
        font-size:40px;
    }
</style>
<head>
    <title> Contacto </title>
</head>

<body>
    
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar_usuarios.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar_nologueado.html' %}
    
            <h2 class="titulo"> Contáctate con nosotros </h2>

            <div class="cuerpo">

                <div class="item">
                    <h4>Teléfonos</h4>
                    <h6>03442 15661360</h6>
                </div>

                <div class="item">
                    <h4>Correo electrónico</h4>
                    <h6>Ventas: ventas@gmail.com</h6>
                    <h6>Soporte técnico: soporte@gmail.com</h6>
                </div>
                
                <div class="item">
                    <h4>Redes sociales</h4>
                    <table class="cd">
                        <tr><a href="#" style="font-size: 50px;margin-left: 10px;"><i class="fab fa-facebook"></i></a> </tr> 
                        <tr><a href="#" style="font-size: 50px;margin-left: 10px;"><i class="fab fa-instagram"></i></a> </tr> 
                        <tr><a href="#" style="font-size: 50px;margin-left: 10px;"><i class="fab fa-twitter"></i></a> </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer/footer-usuario.html' %}

</body>

</html>