<!DOCTYPE html>
<html lang="es">

{% include 'header/header.html' %}

<body>

    <div class="d-flex p-3 bg-dark text-white">
        <div class="container">
            <h1 class=" justify-content-center">Electo</h1>
            <p>Todo en electronica</p>
            <form class="">

                <div class="row justify-content-center ">
                    <div class="col-md-2 p-0">
                        <div class="form-group">
                            <select name="nuevaMarca" class="custom-select">
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-6 p-0">
                        <div class="form-group">
                            <input type="text" class="form-control" id="buscar" aria-describedby="Buscar..." placeholder="Buscar...">
                        </div>
                    </div>
                    <div class="col-md-2 p-0">
                        <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i>Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--<div class="jumbotron text-center">
        <h1>Electo</h1>
        <p>Todo en electronica</p>
        <form class="">

            <div class="row justify-content-center ">
                <div class="col-md-2 p-0">
                    <div class="form-group">
                        <select name="nuevaMarca" class="custom-select">
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                            <option>Categoria 1 </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control" id="buscar" aria-describedby="Buscar..." placeholder="Buscar...">
                    </div>
                </div>
                <div class="col-md-2 p-0">
                    <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i>Buscar</button>
                </div>
            </div>
        </form>
    </div>-->
    <nav class="nav"></nav>
    <div class="container ">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/img/mouse-genius-nx-7000-wireless-negro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/img/mouse-genius-nx-7000-wireless-negro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/img/Razer-Cynosa-Chroma-e1520415055530.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/img/Razer-Cynosa-Chroma-e1520415055530.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="d-flex p-3 bg-dark text-white">
            <div class="p-2 bg-info">Flex item 1</div>
            <div class="p-2 bg-warning">Flex item 2</div>
            <div class="p-2 bg-primary">Flex item 3</div>
        </div>
    </footer>
</body>

</html>