<!DOCTYPE html>
<html lang="es">

{% include 'header/header.html' %}

<body background="/static/img/fondo-login.png">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">

                <div id="login_form" class="card">
                    <div id="login_form" class="card-body">

                        <!-- <div class="form-signin form-group">
                            <h1 class="h3 mb-3 font-weight-normal">Binvenido</h1>
                            <div class="form-group">
                                <label for="inputEmail " class="sr-only ">Email</label>
                                <input type="email " id="inputEmail" class="form-control " placeholder="Email " required=" " autofocus=" ">
                            </div>
                            <div class="form-group ">
                                <label for="inputPassword " class="sr-only ">Contraseña</label>
                                <input type="password" id="inputPassword" class="form-control " placeholder="Contraseña">
                            </div>
                            <div class="row">

                                <div class="col">
                                    <button id="btnLogin" class="btn btn-md btn-primary btn-block ">Login</button>
                                </div>
                                <div class="col">
                                    <button id="btnSingIn" class="btn btn-md btn-success btn-block ">Sign in</button>
                                </div>
                                <div class="col">
                                    <button id="btnSingOut" class="btn btn-md btn-danger btn-block ">Sign Out</button>
                                </div>
                            </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <button id="btnFacebookSingIn" class="btn btn-md btn-primary">
                             <i class="fab fa-facebook-square"></i> Facebook
                        </button>
                                <button id="btnGoogleSingIn" class="btn btn-md btn-primary"> 
                            <i class="fab fa-google"></i> Google
                        </button>
                            </div>
                            <!--<div class="col-6">
                            <button id="btnGoogleSingIn" class="btn btn-lg btn-primary"> 
                            <i class="fab fa-google"></i> Google
                        </button>
                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>