<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}
<head>
    <style>
        .container{
            width: 600px;
            padding-top: 50px;
        }
        h3{
            text-align: center;
            color: red;
        }
        h4{
            text-align: center;
            color:red;
        }
    </style>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div id="page-content-wrapper">
            <div class="container">
                <h3>Las contraseñas ingresadas no coiciden</h3>
                <h4>Vuelve a intentarlo</h4>
                <form action="modificarContrasenia" method="POST">
                    <div class="form-group">
                        <input readonly value="{{email}}" type="hidden" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="contraseniaNueva">Nueva contraseña</label>
                        <input required type="password" class="form-control" name="contraseniaNueva" id="contraseniaNueva" placeholder="Ingresar la nueva contraseña" minlength="8" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="repetircontraseniaNueva">Repetir la nueva contraseña</label>
                        <input required type="password" class="form-control" name="repetirContraseniaNueva" id="repetirContraseniaNueva" placeholder="Vuelve a ingresar la nueva contraseña" minlength="8" maxlength="20">
                    </div>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a class="btn btn-danger" href="/miCuenta" role="button">Cancelar</a>
                </form>


            </div>
        </div>
    </div>
</body>

</html>