<!DOCTYPE html>
<html lang="es">
{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar.html' %}

            <div class="container-fluid">
                {% if data == "elimido" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Usuario Eliminado!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%}
                <div class="row">
                    <div class="col-lg-12 p-2">
                        <div class="jumbotron p-3 shadow">
                            <!--<div class="row">
                                <div class="col-md-2">
                                    <h1 class="display-4">Rol</h1>
                                </div>
                                <div class="col-md-10">
                                    <a class="btn btn-success" href="{{ url_for('altaRol') }}"><i class="far fa-plus-square"></i> Nuevo</a>
                                </div>
                            </div>-->
                            <h1 class="display-5">Usuario</h1>
                            <hr class="my-4">
                            <a class="btn btn-success" href="{{ url_for('altaUsuario') }}"><i class="far fa-plus-square"></i> Nuevo</a>


                            <table id="tablaRol" data-classes="table table-bordered table-hover  table-striped" data-thead-classes="thead-dark" data-toggle="false" data-toolbar="#toolbar" data-search="true" data-show-columns="false" data-pagination="true" data-height="500">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer/footer.html' %}
        </div>
    </div>

    <div id='myModal' class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</body>
<script>
    $('document').ready(function() {
        var columns = [{
                field: "nombre",
                title: "Usuario",
                sortable: true,
                width: "20"
            }, {
                field: "contacto",
                title: "Contacto",
                sortable: true,
                width: "30"
            }, {
                field: "rol",
                title: "Rol",
                sortable: true,
                width: "30"
            },

            {
                field: 'operate',
                title: 'Acciones',
                width: "50",
                // align: 'center',
                //valign: 'middle',
                clickToSelect: false,
                formatter: function(value, row, index) {
                    var urlModificar = "{{ url_for('modificarUsuario') }}"; //jinja Template
                    var urlEliminar = '{{ url_for("eliminarUsuario") }}'; //jinja Template



                    var html = '';
                    //html += '<a id="verRol' + row.nombre + '" class="btn btn-info m-2"><i class="fas fa-eye"></i></a>';
                    html += '<a class="btn btn-primary m-2" href=' + urlModificar + '/' + row.nombre + '><i class="fas fa-edit"></i></a>';
                    html += '<a class="eliminar btn btn-danger m-2" href=' + urlEliminar + '/' + row.nombre + '><i class="fas fa-trash"></i></a>';


                    return html;
                }
            }
        ]

        $('#tablaRol').bootstrapTable({
            url: "{{ url_for('usuario_data_table') }}", //Obrtine los datos desde el backend, formato json 
            columns: columns,
            locale: "es-ES",
            showRefresh: false,
        });


        $('#verRol1').click(function(e) {
            $('#myModal').modal('toggle');
        });

        $('.eliminar').click(function(e) {
            alert()
            var r = confirm("¿Desea eliminar el Rol?");

            if (r == true) {
                location.href('/eliminarRol/' + id)
            } else {
                e.preventDefault();
            }
        });



    });
</script>

</html>