<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Alta de pago</h2>
        <form action="guardarPago" method="POST">
            <div class="form-group">
                <label for="id">Id de la Compra</label>
                <input type="number" class="form-control" name="idCompra" id="idCompra" placeholder="ingresar el id de la compra">
            </div>
            <div class="form-group">
                <label for="total">Total de la pago</label>
                <input type="number" class="form-control" name="total" id="total" placeholder="ingresar el total de la compra">
            </div>
            <div class="form-group">
                <label for="estado">Estado del Pago (True:1 - False:0)</label>
                <input type="number" class="form-control" name="estado" id="estado" placeholder="ingresar el estado de la compra">
            </div>
            <div class="form-group">
                <label for="tarjeta">Tarjeta</label>
                <input type="text" class="form-control" name="tarjeta" id="tarjeta" placeholder="ingresar datos de la tarjeta">
            </div>
            <div class="form-group">
                <label for="cuotas">Cuotas</label>
                <input type="number" class="form-control" name="cuotas" id="cuotas" placeholder="ingresar cantidad de cuotas">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a class="btn btn-danger" href="/" role="button">Cancelar</a>
        </form>


    </div>
</body>

</html>