<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Modificar Carrito</h2>
        <form action="editarCarrito" method="POST">
            <div class="form-group">
                <label for="id">Nombre del rol a modificar</label>
                <input type="text" class="form-control" name="id" id="id" placeholder="ingresar id del carrito">
            </div>
            <div class="form-group">
                <label for="nuevoTotal">Nuevo total</label>
                <input type="text" class="form-control" name="nuevoTotal" id="nuevoTotal" placeholder="ingresar el nuevo total">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</body>

</html>