<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Alta ejemplar-carrito</h2>
        <form action="guardarEjemplar_carrito" method="POST">
            <div class="form-group">
                <label for="idCarrito">Id del carrito</label>
                <input type="number" class="form-control" name="idCarrito" id="idCarrito" placeholder="Ingresar el id del carrito">
            </div>
            <div class="form-group">
                <label for="numeroSerie">número de serie</label>
                <input type="text" class="form-control" name="numeroSerie" id="numeroSerie" placeholder="Ingresar el número de serie">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
			<a class="btn btn-danger" href="/" role="button">Cancelar</a>
        </form>


    </div>
</body>

</html>