<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Alta ejemplar</h2>
        <form action="guardarEjemplar" method="POST">
            <div class="form-group">
                <label for="numeroSerie">Número de serie del ejemplar</label>
                <input type="text" class="form-control" name="numeroSerie" id="numeroSerie" placeholder="Ingresar el número de serie del ejemplar">
            </div>
            <div class="form-group">
                <label for="vendido">¿Producto vendido? (0: False - 1:True)</label>
                <select name="vendido" class="custom-select">
                    <option value="0">No - (False)</option>
                    <option value="1">Si - (True)</option>
                </select>

            </div>
            <div class="form-group">
                <label for="producto">Producto</label>
                <select name="producto" class="custom-select">
                    {% for e in data %}                        
                            <option value="{{e[0]}}">{{e[1]}}</option>                        
                    {% endfor %}
                </select>

            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a class="btn btn-danger" href="/" role="button">Cancelar</a>
        </form>
    </div>

</body>

</html>