<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar_admin.html' %}
    <div class="container p-2">
        <h2>Baja ejemplar</h2>
        <form action="eliminarEjemplar" method="POST">
            <div class="form-group">
                <label for="numeroSerie">Número de serie del ejemplar</label>
                <input type="text" class="form-control" name="numeroSerie" id="numeroSerie" placeholder="Ingresar el número de serie del ejemplar">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
			<a class="btn btn-danger" href="/" role="button">Cancelar</a>
        </form>


    </div>
</body>

</html>