<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Modificar ejemplar</h2>
        <form action="editarEjemplar" method="POST">
            <div class="form-group">
                <label for="numeroSerie">Número de serie  del ejemplar a modificar</label>
                <input type="text" class="form-control" name="numeroSerie" id="numeroSerie" placeholder="Ingresar el número de serie">
            </div>
            <div class="form-group">
                <label for="nuevoNumeroSerie">Nuevo numero de serie</label>
                <input type="text" class="form-control" name="nuevoNumeroSerie" id="nuevoNumeroSerie" placeholder="Ingresar numero de serie">
            </div>
            <div class="form-group">
                <label for="nuevoVendido">¿Producto vendido?</label>
                <input type="text" class="form-control" name="nuevoVendido" id="nuevoVendido" placeholder="true or false">
            </div>
            <div class="form-group">
                <label for="nuevoProcucto">Nuevo precio del producto</label>
                <input type="number" class="form-control" name="nuevoProcucto" id="nuevoProcucto" placeholder="Ingresar el código del producto">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</body>

</html>