<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Baja tipo de producto</h2>
        <form action="eliminarTipoProducto" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre del tipo de producto</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresar nombre del tipo de producto">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
			<a class="btn btn-danger" href="/" role="button">Cancelar</a>
        </form>


    </div>
</body>

</html>