<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar_admin.html' %}


            <div class="container p-2">
                {% if data == 1 %}
                <h2>Rol Eliminado!</h2>
                {% else %}
                <h2>Rol No Existe!</h2>
                {% endif %}

                <a href="/rolABMC"> volver </a>
            </div>
        </div>
    </div>


</body>

</html>