<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar_admin.html' %}
            <div class="container p-2">

                {% if verificador == [] %}
                <h2>Rol dado de alta!</h2>
                {% else %}
                <h2>El rol ya existe</h2>
                {% endif %}

                <a href="/rolABMC"> volver </a>
            </div>
        </div>
    </div>
</body>

</html>