<style>
    .ab {
        margin-right: 5px;
        margin-left: 890px;
        text-align: center;
        font-size: 12px;
        border-spacing: 45px 1px;
        border-collapse: separate;
    }
    
    .fa-facebook {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .fa-instagram {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .fa-twitter {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .redes {
        color: black;
        font-size: 18px;
    }
</style>

<footer id="sticky-footer" class="py-2 bg-dark p-1">

    <table class="ab">
        <tr>
            <td>Nuestras redes</td>
            <td>Nuestros contactos</td>
        </tr>
        <tr>
            <td>
                <table class="cd">
                    <tr><a href="#" class="redes"><i class="fab fa-facebook"></i></a> </tr>
                    <tr><a href="#" class="redes"><i class="fab fa-instagram"></i></a> </tr>
                    <tr><a href="#" class="redes"><i class="fab fa-twitter"></i></a> </tr>
                </table>
            </td>
            <td><i class="fas fa-map-marker-alt"></i> Concepción del Uruguay</td>
        </tr>
        <tr>
            <td></td>
            <td><i class="fas fa-phone-alt"></i> 03442 15661360 </td>
        </tr>
        <tr>
            <td></td>
            <td><i class="far fa-envelope"></i> ventas@gmail.com </td>
        </tr>
    </table>


    <div class="container text-center">
        <small>Copyright &copy; Mauricio Bessón - Andrea Abrigo</small>
    </div>

</footer>