<!DOCTYPE html>
<html lang="es">
<head>
    <title>Configuración</title>
    <style>
        .msj{
            font-size: 40px;
            padding-top: 50px;
            padding-left: 20px;
            font-style: italic;
        }
    </style>
</head>


{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar_admin.html' %}
        <div id="page-content-wrapper">
            {% include 'navbars/navbar_admin.html' %}

            <div class="msj">Bienvenido administrador</div>
        </div>
    </div>
    {% include 'footer/footer.html' %} 
</body>

</html>