<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar_admin.html' %}
            <div class="container p-2" style="margin-top: 70px;">
                <h2>Nueva marca</h2>
                <form action="guardarMarca" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre de la marca</label>
                        <input required type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresar el nombre de la marca" maxlength="30">
                    </div>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a class="btn btn-danger" href="/marcaABMC" role="button">Cancelar</a>
                </form>


            </div>
        </div>
    </div>
</body>

</html>