<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<body>
    {% include 'navbars/navbar.html' %}
    <div class="container p-2">
        <h2>Baja marca</h2>
        <form action="eliminarMarca" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre de la marca</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresar el nombre de la marca">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </div>
</body>

</html>