<!DOCTYPE html>
<html lang="en">
{% include 'header/header.html' %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<body>
  <div class="d-flex" id="wrapper">
      {% include 'navbars/sidebar_usuarios.html' %}

      <div id="page-content-wrapper">

          <div class="container-fluid">
              <center><h2 style="margin-top: 60px;">Marcas de los productos</h2></center>
              <form action="productosPorMarca" method="POST">
                <div class="form-group">
                  <label for="marca"> Seleccione una marca</label>
                    <select name="marca" class="custom-select">
                      {% for e in data %}                                                                            
                        <option value="{{e[1]}}">{{e[1]}}</option>
                      {% endfor %}
                    </select>
                </div>
                <center><button type="submit" class="btn btn-primary">Buscar</button></center>
              </form>
          </div>
      </div>
  </div>
  {% include 'footer/footer-usuario.html' %}
</body>

</html>