<!DOCTYPE html>
<html lang="es">
{% include 'header/header.html' %}

<body>
    <div class="d-flex" id="wrapper">
        {% include 'navbars/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'navbars/navbar_admin.html' %}

            <div class="container-fluid">
                {% if data == "eliminado" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Marca Eliminada!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%} {% if data == "alta" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Marca Dada de Alta!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%} {% if data == "ya_existe" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>La Marca Ya Existe!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%} {% if data == "modificado" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Marca Modificada!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%} {% if data == "no_modificado" %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-2 alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Marca No Modificada!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                {%endif%}

                <div class="row" style="margin-top: 70px;">
                    <div class="col-lg-12 p-2">

                        <h1 class="display-5">Marcas</h1>
                        <hr class="my-4">
                        <a class="nuevo-abmc btn btn-success" href="{{ url_for('altaMarca') }}"><i class="far fa-plus-square"></i> Nuevo</a>

                        <table id="tablaMarca" data-classes="table table-bordered table-hover  table-striped" data-thead-classes="thead-dark" data-toggle="false" data-toolbar="#toolbar" data-search="true" data-show-columns="false" data-pagination="true" data-height="500">
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


    {% include 'footer/footer.html' %}


<script>
    $('document').ready(function() {
        var columns = [{
                field: "id",
                title: "ID",
                sortable: true,
                width: "20"
            }, {
                field: "marca",
                title: "Marca",
                sortable: true,
                width: "30"
            },

            {
                field: 'operate',
                title: 'Acciones',
                width: "50",
                // align: 'center',
                //valign: 'middle',
                clickToSelect: false,
                formatter: function(value, row, index) {
                    var urlModificar = "{{ url_for('modificarMarca') }}"; //jinja Template
                    var urlEliminar = '{{ url_for("eliminarMarca") }}'; //jinja Template



                    var html = '';
                    //html += '<a id="verRol' + row.nombre + '" class="btn btn-info m-2"><i class="fas fa-eye"></i></a>';
                    html += '<a class="btn btn-primary m-2" href=' + urlModificar + '/' + row.id + '><i class="fas fa-edit"></i></a>';
                    html += '<a class="eliminar btn btn-danger m-2" href=' + urlEliminar + '/' + row.id + '><i class="fas fa-trash"></i></a>';


                    return html;
                }
            }
        ]

        $('#tablaMarca').bootstrapTable({
            url: "{{ url_for('marca_data_table') }}", //Obrtine los datos desde el backend, formato json 
            columns: columns,
            locale: "es-ES",
            showRefresh: false,
        });


        $('#verRol1').click(function(e) {
            $('#myModal').modal('toggle');
        });

        $('.eliminar').click(function(e) {
            alert()
            var r = confirm("¿Desea eliminar el Rol?");

            if (r == true) {
                location.href('/eliminarRol/' + id)
            } else {
                e.preventDefault();
            }
        });



    });
</script>
<!-- {% include 'sesion/sesion.html' %} -->
</body>
</html>